---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout title="Michael Wendel: About" description="About Michael Wendel">
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About me"
        tagline="Thanks for stopping by. Learn a little about me and my background below."
      >
        <img
          width="1553"
          height="873"
          src="/portfolio/assets/mike.jpg"
          alt="Mike Wendel"
        />
      </Hero>
      <section>
        <h2 class="section-title">Let's connect</h2>
        <div class="content">
          <p>
            <a
              href="https://www.linkedin.com/in/michael-wendel/"
              target="_blank">My LinkedIn profile</a
            > contains much more information about my career experience, skills,
            and focus area. Let's connect there and chat if you want to know more
            about me.
          </p>
        </div>
      </section>

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>
            Accomplished Senior Technical Writer, driven to improve user
            experiences, simplify complex information and processes, and
            facilitate cross–functional collaboration to deliver quality
            results.
          </p>
          &nbsp;
          <p>
            Strategic thinker that optimizes content development for
            stakeholders and improves the effectiveness of documentation teams.
            Clearly communicates complex technical and non–technical concepts
            into easily understood projects that redefine business performance.
          </p>
          &nbsp;
          <p>
            I volunteer my content creation and web development services to
            charitable organizations, mostly focused in the education space.
            Dynamic content and a strong web presence drives mission buy-in and
            can improve fundraising outcomes for worthy causes.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <p>
            <strong
              >Bachelor of Arts (BA) - English, Technical Writing Minor,
              Computer Science coursework</strong
            ><br />San José State University, San Jose, California
          </p>&nbsp;
          <p>
            I believe we all need to be lifelong learners. I’m always studying
            and I apply that learning to my life and work. Whether that’s
            pushing myself to focus on deep work or learning the python pandas
            library to simplify documentation content analysis, I study a broad
            range of subjects to become better.
          </p>&nbsp;
          <p>
            Currently, I’m learning how large language models and generative AI
            can be applied to all aspects of the technical writing process to
            simplify work and delight customers.
          </p>
          &nbsp;<p>
            On the Web development side, I'm currently having fun learning <a
              href="https://astro.build/"
              target="_blank">Astro</a
            > (which is the foundation for this site). I'm also exploring ways to
            lower content creation barriers for JAMStack sites.
          </p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
